.wrapper {
  width: 100%;
  height: 80px;
}
.inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.logo {
  img {
    width: 120px;
  }
}
