.wrapper {
  background: #5a320a;
  font-size: 70%;
  a {
    color: #fff;
  }

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  li {
    width: 50%;
    padding-top: 10px;
  }
}

.inner {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}
