.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: 20px;
  margin: auto 20px;
  width: 90%;

  .title {
    display: flex;
    color: #8c6500;
    font-weight: bold;
    i {
      margin: 4px 8px;
      font-size: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .input_info {
      display: flex;
      flex-direction: column;
      input {
        margin: 10px;
        padding: 10px;
      }
    }
  }
  .err {
    padding-left: 10px;
    color: crimson;
  }
  .loginButton {
    margin: 20px 10px 40px 10px;
    font-size: 1.1rem;
    padding: 10px;
    background-color: rgba(255, 195, 0, 0.3);
  }
}
