.user {
  display: flex;
  margin: 20px;
  img {
    margin-right: 10px;
  }
}

.login {
  margin: 20px;
  width: 100px;
  padding: 10px;
  background-color: rgba(245, 206, 77, 0.89);
  text-align: center;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(245, 247, 243, 0.712);

  .wrapper {
    position: fixed;
    top: 0;
    left: 40vw;
    width: 60vw;
    height: 100vh; /*ナビの高さ*/
    background: rgb(226, 219, 219);
    /*動き*/
    transition: all 0.6s;
    & :active {
      left: 20vw;
    }
    .menu {
      ul {
        display: flex;
        list-style: none;
        margin: 20px;
        flex-direction: column;
      }
      li {
        background-color: rgb(233, 232, 230);
        margin: 10px;
        padding: 10px;
      }
    }
    .move {
      background-color: rgba(245, 206, 77, 0.89);
    }
  }
}
