.main{
    width: 100vw;
    margin: 0, auto;
    background-color: rgb(230, 228, 211);
    display: flex;
    flex-wrap: nowrap;
    word-break: break-all;
    position:relative;
    line-height: 1.6;


}

.aside{
    background-color: bisque;
    width:20%;
    display: flex;
    flex-direction: column;
   

}

.search{
    padding:30px 30px 0px 30px;
    
    select{
       background-color: rgb(253, 253, 249); 
       margin: 5px;
       padding: 5px;
    }
    button{
        display: block;
        margin: 0;
        font-size: 1rem;
        &:hover{
            text-decoration: underline;
            color:rgb(139, 95, 33)
        }
    }
}
.mainBox{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;


}
.recipeBox{
    background-color: rgb(235, 240, 229);
    margin:40px;
    width:210px;
    height:400px;
    padding-bottom: 20px;
    .img{
        background-color: rgb(245, 232, 217);
        margin:5px;
        height:200px;
        position: relative;
        > img {
            width: 100%;
            max-height: 100%;
        }
        .chefInfo{
            position: absolute;
            right: 0;
            bottom: 0;
            color:azure;
            >img{
              
                border-radius: 50%;
                width:40px;
                height:40px;
                object-fit: cover;
                object-position:0 5% ;
            }
        }
    }
    
    .content{
        padding:10px;
        .title{
           
        }
        .cookingtime{
            display:inline-block;
            background: #fff;
            padding:5px;
            margin-right: 10px;
            
        }
        .tag {
            display:inline-block;
            background: #fff;
            padding:5px;
    
    
        }
        .buttons{
            margin:10px;
            display: flex;
            justify-content:flex-start;
            > button{
                background-color: rgb(235, 230, 225);
                padding:5px;
                margin-right: 10px;
            }
        }
    

    }
   
    
}

