.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title {
    width: 100%;
    height: 50px;
    background-color: #fbf5e9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .recipename {
      font-size: 1.2rem;
      flex-grow: 1;
      text-align: center;
      font-weight: bold;
    }
    .time {
      width: 50px;
      background-color: rgb(255, 254, 253);
      margin: 0.4rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 0.8rem;
      }
    }
  }
}
