@font-face {
  font-family: 'nadia-smp-logoset';
  src: url('fonts/nadia-smp-logoset.eot?gugfq1');
  src: url('fonts/nadia-smp-logoset.eot?gugfq1#iefix')
      format('embedded-opentype'),
    url('fonts/nadia-smp-logoset.ttf?gugfq1') format('truetype'),
    url('fonts/nadia-smp-logoset.woff?gugfq1') format('woff'),
    url('fonts/nadia-smp-logoset.svg?gugfq1#nadia-smp-logoset') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nadia-smp-logoset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
  content: '\e900';
}
.icon-login:before {
  content: '\e901';
}
.icon-menu:before {
  content: '\e902';
}
.icon-ranking:before {
  content: '\e903';
}
